body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

/*Cambia el estilo cuando la página es más chica*/
@media (max-width: 1000px) {
  header img {
    width: 80%;
  }
  header li {
    font-size: 80%;
  }
}

header {
  background-color: #161B33;
  color: #F0F0F0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #F0F0F0;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  font-size: 24px;
  margin-top: 0;
}

section p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.boton {
  display: inline-block;
  background-color: #f5f5f5;
  color: #161B33;
  border: 1px solid #333;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.boton:hover {
  background-color: #161B33;
  color: #f5f5f5;
}

footer {
  background-color: #F0F0F0;
  color: #333;
  padding: 20px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 1400px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.panoramica img{
  width: 100%;
  height: auto;
}

h3{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0%;
  text-align: center;
}

/*Pagina Inicial*/
.destinos-ofertas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem auto;
  max-width: 1200px;
}

.destinos-ofertas section {
  text-align: center;
  margin: 1rem;
  flex: 1 1 350px;
}

/*Pagina Destinos*/
.destino {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.destino img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.destino .descripcion {
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.destino .descripcion h2 {
  margin-top: 0;
}

.destino .descripcion a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.destino .descripcion a:hover {
  background-color: #161B33;
  color: #F0F0F0;
}

/*Pagina Nosotros*/
#nosotros .container{
  width: 50%;
  margin-left: 25%;
  justify-content: center;
}

#nosotros {
  background-color: #F0F0F0;
  padding: 2rem;
}

#nosotros h2 {
  text-align: center;
  margin-bottom: 1rem;
}

#nosotros p {
  font-size: 1.2rem;
  line-height: 1.5;
}

#nosotros img {
  max-width: 100%;
}

#contacto {
  background-color: #f5f5f5;
  padding: 50px 0;
}

#contacto .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

#contacto p{
  text-align: center;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}

.redes-sociales {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.redes-sociales li {
  margin: 0 10px;
}

.redes-sociales a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.redes-sociales a:hover {
  background-color: #666;
}

.informacion-contacto {
  list-style: none;
  margin: 30px 0;
  padding: 0;
  text-align: center;
}

.informacion-contacto li {
  margin: 10px 0;
}

.informacion-contacto i {
  margin-right: 10px;
}

#contacto .container form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 20px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  height: 150px;
  resize: none;
}

input[type="submit"] {
  display: inline-block;
  background-color: #f5f5f5;
  color: #161B33;
  border: 1px solid #333;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #161B33;
  color: #F0F0F0;
}

/* Pagina Testimonios */
.testimonio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.testimonio img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.testimonio .descripcion {
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.testimonio .descripcion h2 {
  margin-top: 0;
}

/*Pagina Paquetes*/

.paquete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 600px;
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.paquete img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.paquete .descripcion {
  padding: 10px;
  text-align: center;
  background-color: #f5f5f5;
}

.paquete .descripcion li{
  text-align: left;
  margin-bottom: 10px;
}

.paquete .descripcion h2 {
  margin-top: 0;
}

.paquete .descripcion a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.paquete .descripcion a:hover {
  background-color: #161B33;
  color: #F0F0F0;
}

/* Paginas Destino Info*/
.main-contenedor{
  display: flex;
}

@media (max-width: 1000px) {
  .main-contenedor{
    display: flex;
    flex-direction: column;
  }
}

.destino-panoramica img{
width: 100%;
height: 200px;
}

.destino-info {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.destino-info h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.destino-info p {
  font-size: 18px;
  line-height: 1.4;
  color: #777;
  margin-bottom: 30px;
}

.destino-info a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.destino-info a:hover {
  background-color: #161B33;
  color: #F0F0F0;
}

.lugares table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.lugares td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.lugares tr:hover {
  background-color: #f5f5f5;
}

.galeria .carrusel {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.galeria #imagen {
  width: 100%;
  height: 400px;
  background-size: cover;
}

.galeria .carrusel button {
  border: none;
}
.galeria .carrusel button:hover {
  border: none;
  background-color: #f5f5f5;
}

.galeria .carrusel i{
  font-size: 20px;
}
/* Paginas Paquete Info*/
.paquete-info {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}

.paquete-info h2 {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  text-transform: uppercase;
}

.paquete-info p {
  font-size: 18px;
  line-height: 1.4;
  color: #777;
  margin-bottom: 30px;
}

.reserva {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reserva input[type="text"],
.reserva input[type="email"],
.reserva input[type="tel"],
.reserva select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reserva input[type="submit"] {
  display: inline-block;
  background-color: #f5f5f5;
  color: #161B33;
  border: 1px solid #333;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.reserva input[type="submit"]:hover {
  background-color: #161B33;
  color: #F0F0F0;
}

.reserva label {
  font-weight: bold;
  margin-top: 10px;
}

.reserva select {
  padding: 12px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reserva table {
  border-collapse: collapse;
  width: 100%;
}

.reserva td, th {
  padding: 8px;
  text-align: left;
}

.reserva th {
  background-color: #f2f2f2;
  font-weight: bold;
}
